@use '../../styles/colors.scss' as colors;

.menu {
  // width: 100%;
  border: 1px solid map-get(colors.$color-gray, 'additional');
  margin-top: 5px;
  border-radius: 8px;
  padding: 20px;
  width: max-content;
}

.fullWidth {
  width: 100%;
}
