@use '../../styles/colors.scss' as colors;
@use '../../styles/fonts.scss' as fonts;

.wrapper {
  // display: flex;
  align-items: center;

  .inputBox {
    height: 56px;
    padding: 0 16px;
    display: inline-flex;
    align-items: center;
    position: relative;
    border: 1px solid map-get(colors.$color-gray, 'additional');
    background: map-get(colors.$color-white, 'primary');
    border-radius: 4px;

    label {
      left: 16;
      top: 0;
      position: absolute;
      color: map-get(colors.$color-gray, 'additional');
      background-color: map-get(colors.$color-white, 'primary');
      line-height: 24px;
      font-weight: map-get(fonts.$font-weight, 'medium');
      font-size: 16px;
      z-index: 1;
      transition: all 0.05s linear;
    }

    input {
      width: 100%;
      height: inherit;
      background-color: transparent;
      position: relative;
      border: none;

      &:hover,
      &:active,
      &:focus {
        outline: none;
      }
    }
  }
}

.fullWidth {
  width: 100%;
}

.isError {
  border: 1px solid map-get(colors.$color-red, 'primary');
  height: 56px;
  padding: 0 16px;
  display: inline-flex;
  align-items: center;
  position: relative;
  background: map-get(colors.$color-white, 'primary');
  border-radius: 4px;

  label {
    left: 16;
    top: 0;
    position: absolute;
    color: map-get(colors.$color-gray, 'additional');
    background-color: map-get(colors.$color-white, 'primary');
    line-height: 24px;
    font-weight: map-get(fonts.$font-weight, 'medium');
    font-size: 16px;
    z-index: 1;
    transition: all 0.05s linear;
  }

  input {
    width: 100%;
    height: inherit;
    background-color: transparent;
    position: relative;
    border: none;

    &:hover,
    &:active,
    &:focus {
      outline: none;
    }
  }
}
