@use '../../../../styles/colors.scss' as colors;

.innerContainer {
  padding: 20px 50px 40px 50px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  position: relative;

  .back {
    position: absolute;
    top: -95px;
    left: -18px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    .icon {
      display: flex;
      align-items: center;
    }
  }

  .emailStateContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 6px;
    border: 1px solid map-get(colors.$color-gray, 'additional');
    border-radius: 25px;
    margin-bottom: 25px;

    .icon {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  .enterPassword {
    text-align: center;
  }

  .input {
    margin: 18px 0 10px 0;
  }

  .regTip {
    text-align: center;
  }
}
