$color-white: (
  'primary': #fff,
  'secondary': #e8f7fa,
  'additional': #e5e5e5,
);

$color-blue: (
  'primary': #10a8c9,
  'pressedPrimary': #0e97b5,
  'hoveredPrimary': #11b7db,
  'secondary': #2d9cdb,
  'additional': #56ccf2,
);

$color-red: (
  'primary': #d82045,
  'secondary': #eb5757,
);

$color-orange: (
  'secondary': #ff8437,
  'primary': #f2994a,
);

$color-green: (
  'secondary': #219653,
  'primary': #03d087,
  'additional': #6fcf97,
);

$color-black: (
  'primary': #10203b,
);

$color-gray: (
  'primary': #515b6c,
  'secondary': #9ca4b3,
  'additional': #d7dbe2,
);

$color-darkBlue: (
  'primary': #263650,
  'secondary': #2f80ed,
);

$color-bg: (
  'primary': #f9f9fa,
);
